body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(213,0,255,1) 100%, rgba(0,212,255,1) 100%);
}
h2 {
    color: rgb(182, 62, 182);
    position: relative;
    text-align: center;
    font-size: 30px;
}
h1 {
    color: rgb(182, 62, 182);
    position: relative;
    text-align: center;
    font-size: 30px;
}